.name {
    margin: auto;
    border: 3px solid #73AD21;
    border-radius: 20px;
    font-size: 65px;
    text-align: center;
    width: 550px;
    height: 240px;
    position: relative;
}

h1 {
    margin: auto;
}

#intro {
    color: lightslategray;
    position: relative;
    text-align: center;
}

#travel {
    text-align: center;
}

.profileImage {
    text-align: center;
    width: 250px;
    height: 250px;
    display: block;
    margin: auto;
    padding: 10px;
}