.name {
    margin: auto;
    border: 3px solid #73AD21;
    border-radius: 20px;
    color: lightslategray;
    font-size: 65px;
    text-align: center;
    width: 550px;
    height: 240px;
    position: relative;
}

h1 {
    margin: auto;
}

#intro {
    position: relative;
    text-align: center;
}

.profileImage {
    width: 100px;
    height: 100px;
}