.about {
    width: 800px;
    height: 380px;
    margin: auto;
    border: 3px solid #73AD21;
    border-radius: 20px;
}

.name {
    margin: auto;
    font-size: 65px;
    text-align: center;
    position: relative;
}

h1 {
    margin: auto;
}

#intro {
    color: lightslategray;
    position: relative;
    text-align: center;
}

#travel {
    text-align: center;
}

.profile {
    text-align: center;
    width: 250px;
    height: 250px;
    display: block;
    margin: auto;
    padding: 10px;
}